{erl_opts, [{platform_define, "R1[6-9]B", 'binary_integer_bifs'}]}.

%% for large:xxx
%% detailed info: http://www.erlang.org/doc/man/compile.html
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

%% basho_bench_driver_erldis calls undefined functions, so disable xref_checks.
%% This allows this project to be used as a dependency by other rebar projects
%% that use xref.
%% {xref_checks, []}.
{sub_dirs, ["rel"]}.
{lib_dirs,["lib", "plugins"]}.
{deps_dir, ["deps"]}.
{deps, [
]}.
{erl_opts, [{i, "include"},
    {src_dirs, ["src", "test"]}]}.
{eunit_opts, [
    {skip_deps, true},
    {report, {eunit_surefire, [{dir, "."}]}}
]}.
{cover_enabled, true}.

{ct_log_dir, "test/logs"}.
{clean_files, ["test/logs", "test/*.beam"]}.
